@mixin keyframes($animationName, $obj) {
  @-webkit-keyframes #{$animationName} {
    @each $i,$val in $obj {
      #{$i} {
        @each $v1, $val2 in $val {
          #{$v1}: $val2;
        }
      }
    }
  }
  @-moz-keyframes #{$animationName} {
    @each $i,$val in $obj {
      #{$i} {
        @each $v1, $val2 in $val {
          #{$v1}: $val2;
        }
      }
    }
  }
  @-o-keyframes #{$animationName} {
    @each $i,$val in $obj {
      #{$i} {
        @each $v1, $val2 in $val {
          #{$v1}: $val2;
        }
      }
    }
  }
  @keyframes #{$animationName} {
    @each $i,$val in $obj {
      #{$i} {
        @each $v1, $val2 in $val {
          #{$v1}: $val2;
        }
      }
    }
  }
}

@mixin animation($val) {
  -webkit-animation: $val;
  -moz-animation: $val;
  animation: $val;
}
@mixin prefix($attr, $val) {
  -webkit-#{$attr}: $val;
  -moz-#{$attr}: $val;
  -o-#{$attr}: $val;
  -ms-#{$attr}: $val;
  #{$attr}: $val;
}
@mixin boxShadow($val...) {
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}
//@function getPath($file) {
//  @return url('/src/assets/img/' + $file);
//}
$duration : (1: 0.1, 2: 0.2, 3: 0.3, 4: 0.4, 5: 0.5, 6: 0.6, 7: 0.7, 8: 0.8, 9: 0.9, 10: 1);
$slideLeft0: (
  opacity: 0,
  transform: translate3D(-100%, 0, 0),
  -webkit-transform: translate3D(-100%, 0, 0),
  -moz-transform: translate3D(-100%, 0, 0)
);
$slide: (
  opacity: 1,
  transform: none,
  -webkit-transform: none,
  -moz-transform: none
);
$slideLeft: (0%: $slideLeft0, 100%: $slide);
$slideUp0: (
  opacity: 0,
  transform: translate3D(0, 100%, 0),
  -webkit-transform: translate3D(0, 100%, 0),
  -moz-transform: translate3D(0, 100%, 0)
);
$slideUp: (0%: $slideUp0, 100%: $slide);
$slideDown0: (
  opacity: 0,
  transform: translate3D(0, -100%, 0),
  -webkit-transform: translate3D(0, -100%, 0),
  -moz-transform: translate3D(0, -100%, 0)
);
$slideDown: (0%: $slideDown0, 100%: $slide);
$slideRight0: (
  opacity: 0,
  transform: translate3D(100%, 0, 0),
  -webkit-transform: translate3D(100%, 0, 0),
  -moz-transform: translate3D(100%, 0, 0)
);
$slideRight: (0%: $slideRight0, 100%: $slide);
.slide-header {
  height: 3rem;
  padding-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
}
.slide-header {
  opacity: 0;
}
.swiper-slide-active .slide-header {
  opacity: 1;
  @include keyframes(slideInDown,$slideDown);
  @include animation(slideInDown 0.5s 0s both);
}
.slide-header span {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.8rem;
  margin: auto;
  z-index: 2;
  text-align: center;
  font-weight: 600;
  line-height: 1.8rem;
  @include prefix('transform', 'skewY(-13deg)');
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  transition: all 0.2s;
  cursor: default;
}
.slide-header span:after,
.slide-header span:before {
  display: block;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.8rem;
  position: absolute;
  background: #ee6c68;
  content: ' ';
  z-index: -1;
  transition: all 0.2s;
}
.slide-header span:before {
  background: rgba(0,0,0,0);
  @include prefix('transform', 'skewY(13deg)');
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.slide-header span:nth-child(even) {
  background-color: #ee6c68;
  @include prefix('transform', 'skewY(13deg)');
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.slide-header span:nth-child(even):after {
  background-color: #e84e47;
}
.slide-header span:nth-child(even):before {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  @include prefix('transform', 'skewY(-13deg)');
}
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(3) .slide-header span:after,
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(3) .slide-header span:nth-child(even),
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(4) .slide-header span:after,
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(4) .slide-header span:nth-child(even){
  background-color: #638dfa;
}
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(3) .slide-header span:nth-child(even):after,
.main-swiper > .swiper-wrapper > .swiper-slide:nth-child(4) .slide-header span:nth-child(even):after {
  background-color: #2e65f9;
}
.basic-information-box {
  height: 90%;
  padding: 1rem 1rem 2rem 3rem;
}
.basic-info-content {
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.avatar-box {
  padding-bottom: 1rem;
  opacity: 0;
  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.swiper-slide-active {
  .avatar-box {
    opacity: 1;
    @include keyframes(slideInDown, $slideDown);
    @include animation(slideInDown 0.5s 0s both);
  }
  .basic-info-item {
    opacity: 1;
    @include keyframes(slideInLeft, $slideLeft);
    @include animation(slideInLeft 0.5s 0.1s both);
  }
}
.basic-info-item {
  opacity: 0;
  text-align: left;
}


@each $i, $time in $duration {
  .swiper-slide-active .basic-info-item:nth-child(#{$i}) {
    opacity: 1;
    @include keyframes(slideInUp,$slideUp);
    @include animation(slideInUp 0.5s #{time}s both);
  }
}

/*第二页*/
$colors: (1:'#5fbd9c', 2: '#7abd73', 3: '#ffe154', 4: '#ff9846', 5: '#f07e7a', 6: '#eb5d58', 7: '#f05ed0', 8: '#6f45df', 9: '#2e65f9');
.dev-skill-box {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .dev-skill-item {
    width: 90%;
    position: relative;
    padding: 0 3rem 0 4rem;
    font-size: 0.8rem;
    .bar-bg-box {
      width: 100%;
      height: 0.8rem;
      text-align: left;
      border-radius: 1rem;
      background: #f5f5f5;
      overflow: hidden;
      .bar-content {
        width: 0;
        height:  100%;
        border-radius: 1rem;
        background: #0398d0;
      }
    }
    .bar-percent {
      position: absolute;
      right: 0;
      top: -0.2rem;
      opacity: 0;
    }
  }
}

@each $i, $color in $colors {
  .dev-skill-item:nth-child(#{$i}) .bar-content {
    background: $color;
  }
}

.swiper-slide-active .bar-content {
  /*width: 80%;*/
  transition: all 0.7s;
}
.bar-name {
  position: absolute;
  left: 0;
  top: -0.2rem;
  opacity: 0;
}
.swiper-slide-active .bar-name {
  opacity: 1;
  @include keyframes(slideInLeft, $slideLeft);
  @include animation(slideInLeft 0.5s 0.5s both);
}

.swiper-slide-active .bar-percent {
  opacity: 1;
  @include keyframes(slideInRight, $slideRight);
  @include animation(slideInRight 0.5s 1s both);
}

/*第五页*/
.project-box {
  padding: 2rem 1rem;
}
.swiper-pagination-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-swiper > .swiper-wrapper > .swiper-slide.swiper-slide-active .swiper-pagination-box {
  animation: fadeInUp 1s 0.2s both;
}
.swiperPaginationItem {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: -1px 4px 15px 3px rgba(0,0,0,0.3);
}
.swiperPaginationItem.active {
  transform: scale(1.2);
  transition: all 0.7s;
  background: #091420;
}
.pagination-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.swiperPaginationItem:nth-child(1) .pagination-icon {
  background: url("../img/vuejs.png") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.swiperPaginationItem:nth-child(2) .pagination-icon {
  background: url("../img/mpvue.png") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.swiperPaginationItem:nth-child(4) .pagination-icon {
  background: url("../img/website.png") center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.project-item {
  width: 100%;
  height: 80%;
  padding: 1rem;
  color: #333;
  background: #f5f5f5;
  opacity: 0.6;
  transform: scale(0.8);
  transition: all 0.5s;
  @include boxShadow(-1px 4px 15px 5px rgba(0,0,0,0.3));
}
.swiper-slide-active > .project-item {
  opacity: 1;
  transform: scale(1);
}
.project-item > p {
  margin: 0.5rem 0;
}
.project-icon-box {
  height: 10%;
  padding-top: 1%;
  text-align: center;
}
.project-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 50%;
  border-radius: 50%;
  background: #007aff;
  @include boxShadow(1px 5px 10px rgba(0,0,0,0.3));
  z-index: 2;
}

/*第三页*/
.experience-box {
  padding: 2rem;
  font-size: 0.8rem;
}
.experience-item {
  opacity: 0;
  text-align: left;
}
.main-swiper > .swiper-wrapper > .swiper-slide.swiper-slide-active .experience-item {
  opacity: 1;
  @include keyframes(slideInUp,$slideUp);
  @include animation(slideInUp 0.5s 0.5s both);
}

